@import url('https://fonts.googleapis.com/css?family=Raleway');

.chat {
	background-color: #104961;
	/* background-color: #252525; */
	height: 100vh;
	width: 100vw;
}

#chat_header {
	color: #F5F5F5;
	font-family: sans-serif;
}
.container {
	height: 70vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #F5F5F5;
	
}
.messages {
	height: 60vh;
	width: 500px;
	display: flex;
	flex-direction: column;
  	overflow: scroll;
	  color: white;
	  background-color: white;
	  font-family: sans-serif;
	  /* justify-content: center; */
	  border-radius: 10px;
	  box-shadow: 2px 2px #2487BB;
	  border: .5px solid #2487BB;
}

.input_container{
	height: 10vh;
	display: flex;
	justify-content:center;
}
.input {
	margin-top: 20px;
	height: 5vh;
	/* background-color: #252525; */
	background-color: #104961;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#chat_input {
	border-radius: 5px;
	width: 400px;
}
#chat_button {
	background-color: #2487BB;
    color: white;
    /* margin-top: 20px; */
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    font-family: "Raleway", sans-serif;
}

#chat_button:hover {
	background-color: #34ACE0;
}

.actualmessage{
	background-color: #2487BB;
	justify-content: center;
	padding: 5px;
	width: 400px;
	height: 55px;
	margin-top: 5px;
	margin-left: 45px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.message:hover {
	transition: .4s ease-in-out;
	transform: translateX(-10px);
}
.hiddeninfo{
	display: flex;
	background-color: transparent;
	color: black;
	transition: .4s ease-in;
	border-radius: 5px;
	justify-content: flex-end;
	font-size: 10px;
	width: 450px;
}



.hidden{
	margin-right:5px;
	margin-bottom: 5px;
}

